# Ignore .ttml files
*.ttml

# Ignore .log files
*.log

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyc

# Ignore virtual environment directories
.venv/

# Ignore .env files
.env

# Ignore input file
English-Non-English\ OV\ Templates/

# Ignore .DS_Store files (macOS)
.DS_Store